@media screen and (min-width:1000px){
    .topicos{
        top: 2937px;



        h2{
            font-size: 48px;
            left: 14vw;
        }

        .flex-topicos{
            justify-content: center;

            p{
                width: 15vw;
            }
        }
    }












}